@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* justify-content: baseline;
  align-items: center; */
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Playfair Display', serif; */

/* navbar css  */
.navbar {
  padding-right: 65px;
  padding-left: 65px;
  background-color: #040d12;
  font-family: 'Poppins', sans-serif;
  align-items: space-between;
  font-size: 15px;
  line-height: 26px;
  text-transform: uppercase;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid #ebeddf !important;
}

.nav-link {
  font-weight: 900 !important;
  /* background-color: #040d12; */
  /* background-color: #183d3d; */
  /* background-color: #5c8374; */
  color: #93b1a6;
}
.nav-link:hover {
  font-weight: 300 !important;
  color: rgb(151, 151, 151);
  background-color: #183d3d;
}

.dropdown-menu {
  background-color: #040d12;
}
.dropdown-item {
  color: #93b1a6;
}

.active {
  /* border-bottom: 2px solid #93b1a6; */
}
/* background-color: #040d12; */
/* background-color: #183d3d; */
/* background-color: #5c8374; */
/* background-color: #93b1a6; */

.navbar-brand {
  font-weight: 900;
  font-family: 'roboto', sans-serif;
  letter-spacing: 3px;
  color: #93b1a6;
}
.navbar-brand span {
  font-weight: 700;
  font-family: 'roboto', sans-serif;
  letter-spacing: 3px;
  color: #5c8374;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-brand span:hover {
  color: #183d3d;
}

/* .search-form {
  margin-right: 10px;
  margin-top: 4px;
} */
/* .search-form input {
  border: none;
  border-radius: 0;
} */
/* .search-form button {
  background-color: #000000;
  border-radius: 0;
  color: white;
} */
/* 
==================================
===============register page===== */

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
  margin-top: 8rem;
}

/* =============================
==========footer============= */

.footer {
  border-top: solid #93b1a6 !important;
  /* background-color: #040d12; */
  /* background-color: #183d3d; */
  /* background-color: #5c8374; */
  /* color: #93b1a6; */
  color: #93b1a6;
  padding: 22px;
  background: #040d12; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #040d12,
    #040d12
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #040d12, #040d12);
}

.footer a {
  text-decoration: none;
  color: #93b1a6;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}
/* =================================
======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}
/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}

.cat-btn {
  padding: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
}
.cat-btn:hover {
  background-color: #434343;
  color: white;
}
/* ================
====dashboard
=================== */

.dashboard {
  margin-top: 100px !important;
}

.dashboard-menu h4 {
  background-color: #434343 !important;
  color: white;
  padding: 20px 0px;
}
