.col-md-9 {
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background: url(../../../public/images/grpReg.jpg) no-repeat; */
  background-color: #ebeddf;
  background-size: cover;
  background-position: center;
}
.divide {
  /* margin-top: 5rem; */
  /* background: #c7a4a4; */
  width: 60rem;
  padding: 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
.col1 {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap {
  margin-top: 5%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background: transparent;
  backdrop-filter: blur(2px);
  width: 100%;
  border: 2px solid #333a2f;
  padding: 10px;
  border-radius: 20px;
}
.login {
  margin: auto;
}

.wrap h1 {
  font-size: 36px;
  text-align: center;
}
.wrap .inputBox {
  position: relative;
  width: 25rem;
  height: 50px;
  margin: 2px 0;
}

.inputBox input {
  width: 100%;
  height: 10px;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid #333a2f;
  border-radius: 40px;
  font-size: 16px;
  color: #333a2f;
  padding: 20px 45px 20px 20px;
}
.inputBox select {
  position: relative;
  width: 25rem;
  height: 50px;
  margin-top: -2px;
  background: transparent;
  color: #333a2f;
  border: none;
  outline: none;
  border: 2px solid #333a2f;
  border-radius: 40px;
  font-size: 16px;
  padding: 2px 4px 2px 15px;
}
.inputBox select option {
  background: #333a2f;
  color: #ebeddf;
}
.select_arrow {
  margin: 200px;
}
.inputBox input::placeholder {
  color: #333a2f;
}
.inputBox .icon {
  color: #333a2f;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.wrap button {
  display: flex;
  width: 80%;
  height: 40px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  margin-left: 10%;
  margin-top: 15px;
  background: #333a2f;
  color: #ebeddf;
}
.wrap button:hover {
  color: #333a2f;
  background: #ebeddf;
  border: solid 0.5px #333a2f;
}
.wrap .login-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.wrap .login {
  color: #333a2f;
  text-decoration: none;
  font-weight: 600;
}
.wrap .login:hover {
  text-decoration: underline;
}

h3 {
  color: #333a2f;
  text-align: center;
  margin-bottom: 25px;
}
h6 {
  color: #333a2f;
}
form h6 {
  color: #333a2f;
  text-align: left;
}
.radioBtn {
  color: #333a2f;
  font-weight: 500;
  padding-right: 240px;
  margin-left: 45px;
  /* margin-right: -50px; */
}
.radioBtn input {
  color: #333a2f;
  margin-right: 5px;
  margin-left: 10px;
}
